html {
  overflow: hidden
}

html ::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #e3e7e8
}

html ::-webkit-scrollbar-thumb {
  width: 30px;
  height: 30px;
  background-color: #19b5fe;
  border-radius: 5px
}

body {
  font-family: 'Montserrat', sans-serif
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 2px;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 5px;
  width: 13px;
  height: 8px;
  border-radius: 1px;
  border-left: 3px solid #ffb800;
  border-bottom: 3px solid #ffb800;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  height: 13px;
  background: url(../img/calendar.svg) no-repeat center;
  background-size: contain
}

.personal-data__link {
  text-decoration: underline;
  color: #ffb800;
}

.button {
  padding: 5px 10px;
  font-weight: 700;
  color: #fff;
  background-color: #18a0fb;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s
}

.button:hover {
  color: #18a0fb;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2)
}

.button_granted {
  background-color: green
}

.button_granted:hover {
  color: green
}

.button_denied {
  background-color: red
}

.button_denied:hover {
  color: red
}

.form {
  margin-bottom: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  max-width: 550px
}

.form__title {
  margin-bottom: 20px
}

.form__input,
.form__select {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 2px solid #969696;
  border-radius: 7px
}

.form__select {
  width: 550px
}

.form__input {
  width: 506px
}

.form__button {
  display: block;
  width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer
}

input:focus {
  border: 2px solid #18a0fb
}

.active {
  color: #18a0fb !important
}

.hidden {
  display: none !important
}

.toggled {
  width: 40px !important
}

.rotated {
  -webkit-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important
}

.main {
  display: -webkit-box;
  display: flex
}

.header {
  padding: 15px 75px;
  color: #fff;
  background-color: #2c2c2c
}

.header .container {
  -webkit-box-pack: justify;
  justify-content: space-between
}

.header .container,
.header-logined-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.header-logined-wrap__text {
  margin-right: 20px;
  font-size: 14px
}

.header-logined-wrap__btn {
  background-color: #18a0fb;
  font-weight: 700
}

.header__logo {
  max-height: 60px
}

.sidebar {
  margin-right: 40px;
  padding-top: 20px;
  padding-left: 15px;
  width: 28%;
  max-width: 210px;
  height: 100vh;
  font-size: 18px;
  background-color: #565656;
  overflow: hidden;
  z-index: 99999;
  -webkit-transition: .3s;
  transition: .3s
}

.sidebar-list-item {
  padding: 10px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.sidebar-list-item__img {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  min-height: 25px;
  vertical-align: middle;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: .3s;
  transition: .3s
}

.sidebar-list-item__link {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s
}

.sidebar-list-item__link:hover {
  color: #18a0fb
}

.section {
  padding-top: 20px;
  width: 100% !important
}

.section-content {
  padding-bottom: 40px;
  width: 80%
}

.section-content__title {
  margin-bottom: 20px;
  padding: 20px 0;
  font-weight: 500;
  background-color: #fff
}

.section-content__subtitle {
  margin: 50px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff
}

.section-content-attention {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  background-color: #18960b;
  color: #fff;
  z-index: 9
}

.section-content-attention_error {
  background-color: #fa7b7b
}

.section-content-attention__close {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer
}

.section-content-attention__text {
  padding: 0 30px 0 65px;
  text-align: center;
  font-weight: 700
}

.section__title {
  font-size: 28px;
  margin-bottom: 15px
}

.section-general-wrap {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap
}

.section-general-block {
  margin-bottom: 30px;
  padding: 15px 20px;
  width: 40%;
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25)
}

.section-general-block:nth-child(even) {
  margin-right: 30px
}

.section-general-block__title {
  margin-bottom: 20px
}

.section-general-block__subtext {
  font-size: 14px;
}

.section-general-block__text {
  margin: 0
}

.section-general-form__button {
  margin-top: 10px;
  width: auto;
  padding: 5px 15px;
  font-size: 15px;
  background-color: green;
  color: #fff
}

.section-props {
  /* height: 80vh; */
  height: calc(100vh - 110px);
  overflow-y: auto
}

.section-props-filtration {
  margin-bottom: 25px;
}

.section-props-filtration__select {
  margin-right: 15px;
  width: 250px;
}

.section-props-filtration__button {
  padding: 5px 20px;
  height: 41px;
  border-radius: 7px;
}

.section-props-form {
  margin-bottom: 30px;
  max-width: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center
}

.section-props-block__info {
  margin-right: 20px;
  padding: 10px 20px;
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border: 2px solid #969696;
  border-radius: 5px
}

.section-props-block__btn {
  padding: 5px 20px;
  height: 43px;
  border-radius: 7px
}

.section-props-block__glockoma {
  width: 40px;
  height: 40px;
  background: url('../../assets/img/success.svg') center no-repeat;
  background-size: cover;
}

.section-statement {
  padding: 20px 0 20px 40px;
  display: flex;
  width: 100vw !important;
  height: calc(100vh - 110px);
}

.section-statement-column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 30%;
  height: fit-content
}

.section-statement-column:first-child .section-statement-block:first-child {
  margin-bottom: 113px
}

.section-statement-column:last-child .section-statement-block:first-child {
  margin-bottom: 100px
}

.section-statement-block {
  margin-bottom: 50px
}

.section-statement-block__title {
  margin-bottom: 20px;
  font-weight: 700
}

.section-statement-block__title:nth-child(4) {
  margin-top: 33px
}

.section-statement-field {
  margin-bottom: 10px
}

.section-statement-field:last-child {
  margin-bottom: 0
}

.section-statement-field__title {
  margin-bottom: 3px;
  font-size: 14px
}

.section-statement-field__field {
  padding-top: 6px;
  width: 90%;
  height: 24px;
  text-align: center;
  border: 2px solid #969696;
  border-radius: 5px
}

.section-statement-link {
  margin-bottom: 10px;
  max-width: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between
}

.section-statement-link__link {
  color: #ff6b00;
  -webkit-transition: .3s;
  transition: .3s
}

.section-statement-link__link:hover {
  color: #ffa666
}

.section-statement-buttons {
  margin-top: 50px
}

.section-statement-buttons__button {
  font-size: 16px
}

.section-statement-buttons__button:first-child {
  margin-right: 10px
}

.section-specialty {
  overflow-y: auto;
  /* height: 80vh */
  height: calc(100vh - 110px);
}

.section-specialty-form-block {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between
}

.section-specialty-form__input_short {
  width: 25%
}

.section-algorithm {
  overflow-y: auto;
  height: calc(100vh - 110px)
}

.section-algorithm-form__input {
  margin-bottom: 20px;
  min-width: 600px;
  display: flex;
  position: relative;
  padding: 15px;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
}

.section-algorithm-form__delete {
  position: absolute;
  font-size: 28px;
  top: -8px;
  right: 0;
  cursor: pointer;
}

.section-algorithm-form__date {
  margin-bottom: 0;
  margin-right: 20px;
  max-height: 30px;
  width: 200px;
}

.section-algorithm-form__content {
  margin-bottom: 0;
  width: 400px;
}

.popup {
  color: #000
}

.popup-logo {
  width: 50px;
  display: block
}

.popup-logo__img {
  width: inherit
}

.popup {
  color: #000
}

.popup-logo {
  width: 50px;
  display: block
}

.popup-logo__img {
  width: inherit
}

.popup-form {
  padding: 40px 50px;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .16)
}

.popup-form-info {
  margin-bottom: 20px
}

.popup-form-info__img {
  margin: auto auto 15px;
  display: block;
  width: 90px
}

.popup-form-info__text {
  text-align: center
}

.popup__title {
  margin-bottom: 30px;
  text-align: center;
}

.popup-authorization-checkbox {
  margin: 20px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center
}

.popup-authorization__input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 15px;
  display: block;
  width: 100%;
  font-weight: 700;
  background-color: #e7e7e7;
  border: 1px solid transparent;
  border-radius: 3px;
}

.popup-authorization__input:focus {
  border: 1px solid rgb(0, 174, 255);
  background-color: #ffffff;
}


.popup-buttons-wrap {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  align-items: center
}

.popup-form__button {
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(0, 174, 255);
  border: 1px solid rgb(0, 174, 255);
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;
}

.popup-form__button:hover {
  color: rgb(0, 174, 255);
  background-color: #ffffff;
}

.popup-form__button:first-child {
  margin-bottom: 15px;
}

@media (max-width:1200px) {
  .section {
    width: 70%
  }

  .section-props-form {
    max-width: 100%
  }
}

@media (max-width:993px) {
  .sidebar {
    position: fixed;
    width: 220px
  }

  .section {
    padding: 20px 0 0 80px;
    width: 100%
  }

  .section-general,
  .section-props {
    padding: 20px 40px 0 80px;
    height: calc(100vh - 110px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .section-props-form {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start
  }

  .section-props-block__info {
    margin-bottom: 15px;
    width: 90%;
    font-size: 14px
  }

  .section-props-block__name {
    margin-right: 20px
  }

  .section-props-block__spec {
    text-align: right
  }

  .section-statement {
    padding: 40px 0 0;
    flex-direction: column;
    align-items: center;
  }

  .section-statement .section__title {
    text-align: center
  }

  .section-statement-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center
  }

  .section-statement-column {
    width: 70%
  }

  .section-statement-column:first-child .section-statement-block:first-child {
    margin-bottom: 50px
  }

  .section-statement-column:last-child .section-statement-block:first-child {
    margin-bottom: 50px
  }

  .section-statement-field__field {
    width: 100%
  }

  .popup-buttons-wrap {
    display: -webkit-box;
    display: flex
  }
}

@media (max-width:768px) {
  .form__select {
    width: 400px
  }

  .form__input {
    width: 356px
  }

  .section-general-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }

  .section-general-block {
    width: 95%
  }

  .section-props-filtration__select {
    width: 250px;
  }

  .section-faculty-form {
    max-width: 350px
  }

  .section-specialty-form-block {
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
  }
}

@media (max-width:596px) {
  .section-general-block {
    width: 95%
  }
}

@media (max-width:576px) {
  .form__title {
    font-size: 18px
  }

  .form__select,
  .section-specialty-form .form__select {
    width: 364px
  }

  .form__input,
  .section-specialty-form .form__input {
    width: 320px
  }

  .section {
    /* height: 80vh; */
    height: calc(100vh - 110px);
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden
  }

  .header {
    padding: 15px 25px
  }

  .header-logined-wrap__text {
    display: none
  }

  .section__title {
    font-size: 20px
  }

  .section-props-block__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center
  }

  .section-props-block__name {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500
  }

  .section-props-block__spec {
    text-align: center
  }

  .section-specialty-form__input_short {
    width: 320px
  }

  .section-statement {
    padding-top: 10px;
    height: calc(100vh - 100px);
  }

  .section-statement-column {
    width: 90%
  }
}

@media (max-width:480px) {
  .form__title {
    font-size: 20px
  }

  .form__select,
  .section-specialty-form .form__select {
    width: 274px
  }

  .form__input,
  .section-specialty-form .form__input,
  .section-specialty-form__input_short {
    width: 230px
  }

  .popup-form {
    padding: 40px 30px;
    display: -webkit-box;
    display: flex;
    width: 90%
  }

  .account-menu-list,
  .popup-buttons-wrap,
  .popup-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center
  }

  .popup-authorization-checkbox {
    /* margin-top: 0; */
    margin-bottom: 35px;
  }

  .popup-buttons-wrap {
    width: 100%;
  }

  .popup-form__button {
    width: inherit;
  }

  .popup-form__button:hover {
    color: #ffffff;
    background-color: rgb(0, 174, 255);
  }
}

@media (max-width:380px) {
  .form__title {
    font-size: 20px
  }

  .form__select,
  .section-specialty-form .form__select {
    width: 204px
  }

  .form__input,
  .section-specialty-form .form__input,
  .section-specialty-form__input_short {
    width: 160px
  }
}